:root {
    --purple:#861388;
    --black:#001427;
    --blue: #72e1d1;
    --orange:#ED6323;
}
body {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: 16px;
    line-height:1.4;
    font-weight: 300;
    margin-left:auto;
    margin-right:auto;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 160%;
    color: var(--black);
    line-height: 1.8;
    vertical-align: middle;
    position:relative;
    top:30px;
}
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 140%;
    line-height: 1.8;
    color: var(--black);
}
hr {
    border: 3px solid #666666;
}
header {
    margin: 20px 0;
}
a {
    color: var(--purple);
}
a:hover {
    color: var(--orange);
}
.question {
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    font-size: 18px;
    line-height:1.4;
    font-weight: 400;
}
.answer {
    font-style: italic;
    font-weight: 300;
    color:#666666;
}

/* align header items */
.left {
    float:left;
}
.right {
    text-align: right;
}

/* high scores page css */
.high_scores {
    max-width: 600px;
}
.high_scores h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 160%;
    color: var(--black);
    line-height: 1.8;
    position:relative;
    top:30px;
}
.btn {
    background-color:var(--purple);
    color: #ffffff;
    padding:3px 12px;
    width:200px;
    position:relative;
    top:70px;
}
.btn:hover {
    background-color:var(--blue);
    color:#fff;
}
.high {
    width: 100%;
    color:var(--black);
    background-color: #eb82ed;
    padding: 3px;
    position:relative;
    top:50px;
}